.margin-zero { margin: 0; }
.margin-auto { margin: auto; }
.mt-auto { margin-top: auto; }
.mr-auto { margin-right: auto; }
.mb-auto { margin-bottom: auto; }
.ml-auto { margin-left: auto; }

.push-auto {
  margin: {
    right: auto;
    left: auto;
  }
}
